html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #121212;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-box {
  color: white;
  text-align: center;
  max-width: 90%;
}

ul {
  text-align: left;
  max-height: 200px;
  overflow-y: auto;
  padding: 0;
  margin: 1em 0 0 0;
  list-style: none;
}

li {
  background: #333;
  margin: 2px 0;
  padding: 4px 8px;
  border-radius: 4px;
}
